---
import Admin from '../keystatic/Admin';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Keystatic Admin</title>
  </head>
  <body>
    <div id="app">
      <Admin client:load />
    </div>
  </body>
</html>
